@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-comment {
  color: hsl(214, 32%, 60%);
}

.hljs-keyword {
  color: #f6ad55;
}

.hljs-string {
  color: #c6f6d5;
}

.hljs-variable {
  color: #81e6d9;
}

.hljs-function {
  color: #63b3ed;
}

.hljs-number {
  color: #f687b3;
}

.hljs-built_in {
  color: #c3dafe;
}

.start-item img {
  margin: auto;
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.start-item-text {
  padding-bottom: 10px;
}

.article-page h1 {
  @apply text-rose-700 text-4xl my-4;
}

.article-page h2 {
  @apply text-sky-700 text-2xl mt-8 mb-4;
}

.article-page p {
  @apply pb-4;
}

.article-page p a {
  @apply font-bold text-rose-600 hover:text-sky-500;
}

body {
  @apply bg-gray-100 min-h-screen;
}
